.about {
    &__heading {
        margin-top: 30px;
    }
}

.box {
    &__heading {
        margin-top: 30px;
        background-color: gray;
        padding: 2px;
    }

    &__text {
        margin-top: 10px;
    }

    .fas {
        padding: 10px;
    }
}