.form {
    background: $gradient;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 100px;

    // &__error {
    //     font-family: cursive;
    // }

    &__button {
        background-color: $green;
        border-color: $green;
        color: $black;
    }

    &__button:hover {
        background-color: darken($green, $amount: 10);
        border-color: darken($green, $amount: 10);
    }
}