.footer {
    background: $gradient;
    position: relative;
    margin-top: -150px; 
    height: 150px;
    clear: both;
}

// stay at the bottom
html, body, #wrap {
    height: 100%;
}

body > #wrap {
    height: auto;
    min-height: 100%;
}

#main {
    padding-bottom: 150px;
} 