.login {
    background: $gradient;
    margin-top: 30px;
    padding: 20px;
    border-radius: 15px;
    color: white;
    margin-bottom: 500px;

    &__error {
        color: $black;
    }

    &__button {
        background-color: $orange;
        border-color: $orange;
        color: white;
    }

    &__button:hover {
        background-color: darken($orange, $amount: 5);
        border-color: darken($orange, $amount: 5);
        color: white;
    }
}