.login {
    background: $gradient;
    margin-top: 30px;
    padding: 20px;
    border-radius: 15px;

    &__button {
        background-color: $green;
        border-color: $green;
        color: $black;
    }

    &__button:hover {
        background-color: darken($green, $amount: 10);
        border-color: darken($green, $amount: 10);
    }
}