.navbar {
    background: $black !important;
    border-bottom: 1px solid $orange;
    font-family: $heading-font;
    font-size: 20px;

    &__links {
        margin-right: 30px;
    }

    &__links--color a {
        color: $orange !important;
    }

    &__links--color a:hover {
        color: $orange !important;
        text-decoration: none;
        border-bottom: 3px solid $orange;
        padding-bottom: 5px;
    }

    .navbar-brand {
        color: $orange;
        font-size: 30px;

        &:hover {
            color: $orange;
        }
    }
}