$gradient: linear-gradient(135deg, rgb(44, 110, 143) 0%, rgb(87, 202, 133) 100%);
$yellow: #ffcc34;
$red: #dc223b;
$black: #181616;
$orange: #ed8516;
$turquoise: #0dd7a8;

// $orange: #ed8516;
// $gradient: linear-gradient(135deg, #edb716 0%, #dc223b 100%);
// Import Google Fonts
$font: "https://fonts.googleapis.com/css?family=Open+Sans|ZCOOL+QingKe+HuangYou";

@if global_variable_exists(font) {
    @import url($font);
}

$heading-font: 'ZCOOL QingKe HuangYou', cursive;
$body-font: 'Open Sans', sans-serif;